.chat_div {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #343541;
}

.chat_content_div {
  width: 100%;
  height: 95%;
}

.user_input_div {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}

.user_input {
  width: 80%;
  height: 56px;
  background-color: #40414f;
  border-radius: 30px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border: 1px solid rgba(32, 33, 35, 0.5);
  border-right: none;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif' !important;
  color: white;
  outline: none;
}

.chat_submit_btn_div {
  background-color: #40414f;
  border: 1px solid rgba(32, 33, 35, 0.5);
  border-left: none;
  border-radius: 30px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  height: 58px;
}

.chatSubmitBtn {
  background-image: url('/icon/send.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: none;
  cursor: pointer;
  vertical-align: middle;
  width: 40px;
  height: 30px;
  margin-top: 17px;
}
