.home_div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
}

.home_post_cnt {
  font-weight: normal;
  font-size: 20px;
  color: #5c5c5c;
}

.home_post {
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 3rem;
  overflow-y: auto;
  height: 90%;
}

.home_header {
  border-bottom: 1px solid #efefef;
  padding-bottom: 15px;
}

.home_post_title {
  text-decoration-line: none !important;
  font-size: 24px;
}

.home_post_content {
  font-size: 13px;
  color: #5c5c5c;
}

.home_post_title_content {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #efefef;
  word-break: break-all;
}

.home_post_title_content a {
  text-decoration-line: none !important;
  color: black;
}

.home_post_created {
  font-size: 12px;
  color: #aaa;
}

.home_page_nav {
  height: 5%;
  text-align: center;
  line-height: 33px;
  color: #5c5c5c;
  font-size: 14px;
  display: flex;
  justify-content: center;
}
.home_page_nav_prev {
  margin-right: 35px;
  cursor: pointer;
}

.home_page_nav_next {
  cursor: pointer;
  margin-left: 25px;
}

.home_page_num {
  margin-right: 10px;
  width: 30px;
  cursor: pointer;
}

.home_page_nav_arr {
  font-weight: bolder;
  cursor: pointer;
}

.home_page_slct_num {
  background-color: #6bacce;
  height: 30px;
  width: 30px;
  color: white;
  border-radius: 50%;
}

.home_header_div {
  display: none;
}

@media (max-width: 768px) {
  .home_post {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 2rem !important;
  }
  .home_post_title_content {
    padding-left: 1.2rem !important;
    padding-right: 1.2rem !important;
  }
  .home_header {
    padding-left: 1.2rem !important;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  .home_post_cnt {
    font-size: 15px !important;
  }

  .home_post_title {
    font-size: 17px !important;
  }
  .home_post_content {
    font-size: 10px !important;
  }

  .home_post_created {
    font-size: 10px !important;
  }
  .home_header_div {
    display: initial;
    height: 50%;
    background-color: #b1b1b1;
    display: flex;
    align-items: center;
  }
  .home_header_title {
    font-weight: 400;
    margin-left: 15px;
    font-size: 20px;
    margin-top: 7rem;
    color: white;
  }

  .create_btn {
    background: url('/icon/edit_header.png') no-repeat 50% 50%/20px auto;
    width: 30px;
    height: 20px;
    border: none;
    cursor: pointer;
  }

  .home_page_nav_prev {
    font-size: 12px;
  }

  .home_page_nav_next {
    font-size: 12px;
  }

  .home_page_num {
    font-size: 12px;
    line-height: 26px;
    margin-top: 4px;
  }
  .home_page_slct_num {
    height: 25px;
    width: 25px;
  }
}
