.post_area {
  height: 95%;
}

.post_div {
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  height: 98%;
}

.post_title_created {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #efefef;
}

.post_title {
  font-weight: normal;
  font-size: 34px;
  color: #222;
  margin-bottom: 15px;
}

.post_created {
  font-size: 13px;
  color: #a7a7a7;
  margin-bottom: 15px;
  text-align: right;
}

.post_created a {
  text-decoration: none;
  color: #a7a7a7;
}

.post_content {
  font-size: 15px;
  color: #555;
}

.post_title_input {
  border: none;
  border-bottom: 0px solid #efefef;
  font-size: 30px;
  padding-bottom: 15px;
}

.post_content_textarea {
  border: none;
  margin-top: 20px;
  height: 76%;
  resize: none;
  font-family: 'Spoqa Han Sans Neo';
  margin-bottom: 10px;
}

.mg-r-10 {
  margin-right: 10px;
}

.mg-l-10 {
  margin-left: 10px;
}

.post_btn_div {
  display: flex;
  justify-content: end;
}

.post_submit_btn {
  border-radius: 20px;
  border: none;
  width: 61px;
  height: 30px;
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 200;
  background-color: black;
  color: white;
  cursor: pointer;
}

.post_cancel_btn {
  border-radius: 20px;
  border: 1px solid #d0d0d0;
  width: 61px;
  height: 30px;
  margin-right: 10px;
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 200;
  background-color: #f5f5f5;
  color: #333;
  cursor: pointer;
}
